

.listViewer{
    border: .1em solid #9b9b9b;
    padding: 0;
    margin: 4em .45em 4em .45em;


}

.element{
    background-color: #ececec;
    display: flex;
    flex-wrap: wrap;

    margin: 0.1em;
    padding: 0.1em;
}


.element img{
    margin-top: 0em;
    width: 2.5em;
    height: 2.5em;

}

.element span{
    max-width: calc(100% - 4.7em);
    width: calc(100% - 4.7em);
    font-size: 1.2em;
    margin: 0.3em 0em 0em .5em;
    padding: 0;
    top:0em;
}
.element div{
    width: calc(100% - 6.3em);
    margin: .1em .1em .1em 3.1em;
    padding: 0;
}
.element .small{
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
}

.small span{
    width: 50%;
    margin: 0;
    font-size: .65em;

}
